.schedule-block1{
    background: linear-gradient(
      135deg, #64b3f4, #c2e59c);
}

.schedule-block2{
    background: linear-gradient(135deg, #60b4ec, #0a76e2);
}

.schedule-block4{
    background: linear-gradient(135deg, #eea849, #f46b45);
}

.schedule-block3{
    background: linear-gradient(135deg, rgb(231, 137, 103), rgb(202, 80, 36));
}