.problemContainer {
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.problem_card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: wheat;
  border-radius: 50%;
}
.problem_card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 50%;
  height: 100%;
  pointer-events: none;
}

.problem_card__frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.problem_card__frame h2{
    padding: 5px;
    font-size: 24px;
    font-weight: 400;
    margin-top: 5%;
    position: absolute;
    text-align: center;
    visibility: hidden;
    width: 100%;
    z-index: 1;
}
.problem_card__frame:hover h2,
.problem_card__frame:focus h2,
  .problem_card__frame:active h2{
  background: rgba(255,255,255);
    color: #3487f7;
  visibility: visible;
  transition: 0.7s;
}


.problem_card__overlay {
  z-index: 2;
  position: absolute;
  bottom: 10px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  background-color: black;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
  transition: 0.5s;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.problem_card__overlay::before {
  content: "Read";
  color:white;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.problem_card__overlay:hover,
.problem_card__overlay:focus,
.problem_card__overlay:active {
  -webkit-tap-highlight-color: transparent;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
  border-radius: 0;
  background-color: black;
  opacity: 0.9;
  z-index: 2;
  border-radius: 1.5rem;
}
.problem_card__overlay:hover::before,
.problem_card__overlay:focus::before {
  content: none;
}

.problem_card__content {
  z-index: 2;
  padding: 20px;
  line-height: 1.4;
  opacity: 1;
  color: white;
  visibility: hidden;
  box-sizing: border-box;
  pointer-events: none;
  transition: 0s;
}
.problem_card__overlay:hover ~ .problem_card__content {
  opacity: 1;
  visibility:visible ;
  transition: 0.2s 0.3s;
}
.problem_card__content h2 {
  margin: 0;
  margin-bottom: 16px;
}
