.faqs-tab {
  overflow: hidden;
}
.faqs-tab-content {
  max-height: 0;
  transition: 0.5s;
}
.faqs-tab,
.faqs-tab svg {
  transition-duration: 0.5s;
}

input:checked + .faqs-tab-label .faqs-test {
  background-color: #444;
}
input:checked + .faqs-tab-label .faqs-test svg {
  stroke: white;
  color: white;
  transform: rotate(180deg);
}
input:checked + .faqs-tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .faqs-tab-content {
  max-height: 100vh;
}
