.faqs-tab {
  overflow: hidden;
}
.faqs-tab-content {
  transition: 0.8s;
  max-height: 0;
}
.faqs-tab,
.faqs-tab svg {
  transition-duration: 0.5s;
  color: rgb(148, 148, 148);
  
}

input:checked + .faqs-tab-label .faqs-test {
  background-color: #444;
}
input:checked ~ .faqs-tab-content {
  max-height: 100vh;
  transition: 1.5s;
}
input:checked + .faqs-tab-label .faqs-test svg {
  stroke: white;
  color: white;
  transform: rotate(180deg);
}
