.milestones-block1{
    background: linear-gradient(135deg, #eea849, #f46b45);
    
}

.milestones-block2{
    background: linear-gradient(135deg, rgb(156, 195, 233), rgb(44, 56, 221));
}

.milestones-block3{
    background: linear-gradient(135deg, rgb(159, 206, 83), #03722e);
}

.milestones-block4{
    background: linear-gradient(135deg, rgb(255, 216, 110), rgb(185, 124, 10));
    
}