.milestones-block1{
    background: linear-gradient(
      135deg, rgb(255, 196, 29), rgb(185, 140, 10));
}

.milestones-block2{
    background: linear-gradient(135deg, rgb(113, 160, 206), rgb(58, 123, 213));
}

.milestones-block3{
    background: linear-gradient(135deg, rgb(143, 169, 99), rgb(100, 139, 35));
}

.milestones-block4{
    background: linear-gradient(135deg, rgb(231, 137, 103), rgb(202, 80, 36));
}