body {
  background-color: rgb(19,19,23);
}

.container-theme {
  border-radius: 10px;
  background-color: rgba(34, 30, 30, 0.83);
  @apply my-4 py-8 md:my-12 md:p-12;
  
}

.header-theme {
  color: rgb(255, 255, 255);
  @apply text-left;
}

.subhead-theme {
  color: rgb(212, 212, 212);
  @apply text-left;
}

.content-theme {
  color: rgb(177, 177, 177);
}
.header-font{
  color:aliceblue
}
.nav-theme{
  background-color: rgba(15, 15, 20, 0.877);
  border-bottom: 1px solid white;
}

