body {
  background-color: white;
}

.container-theme {
  border-radius: 10px;
  background-color: white;
}

.header-theme {
  color: #222;
}

.subhead-theme {
  color: #444;
}

.content-theme {
  color: #666;
}
