.sponsor-carouselBody {
    align-items: center;
    background: transparent;
    display: flex;
    height: 60%;
    justify-content: center;
  }
  .sponsor-slider {
    background: transparent;
    /* box-shadow: 0 1px 2px rgba(0,0,0,0.1), 
    0 2px 4px rgba(0,0,0,0.1), 
    0 4px 8px rgba(0,0,0,0.1), 
    0 8px 16px rgba(0,0,0,0.1),
    0 16px 32px rgba(0,0,0,0.1), 
    0 32px 64px rgba(0,0,0,0.1); */
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
  }
  .sponsor-slider::before, .sponsor-slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: auto;
    position: absolute;
    width: auto;
    z-index: 2;
  }
  .sponsor-slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .sponsor-slider::before {
    left: 0;
    top: 0;
  } 
  @media screen and (min-width: 640px) {
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-32vh * 43));
      }
    }
    .sponsor-slider .sponsor-slide-track {
      -webkit-animation: scroll 100s linear infinite;
              animation: scroll 100s linear infinite;
      display: flex;
      width: calc(32vh * 48);    
      /* increase the number as per images e.g. 1 image means number should be 8/3 .....thus 18 images means 48 */
    }
  }
  @media screen and (max-width: 640px) {
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-32vh * 25));
      }
    }
    .sponsor-slider .sponsor-slide-track {
      -webkit-animation: scroll 10s linear infinite;
              animation: scroll 10s linear infinite;
      display: flex;
      width: calc(32vh * 28);    
      /* increase the number as per images e.g. 1 image means number should be 8/3 .....thus 18 images means 48 */
    }
  }

  
  .sponsor-slider .sponsor-slide {
    height: auto;
    width: auto;
  }